* {
  margin: 0;
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

.header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  background-color: #ffffff;
  color: #4a4a4a;
}

.header1 {
  margin: 10px;
}

.nav {
  display: flex;
  justify-content: center;
  margin: 0 0 13px 0;
}

.nav__list {
  padding: 0;
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

.nav__item {
  padding: 0 20px;
}

.nav__link {
  text-decoration: none;
  color: #4a4a4a;
}

.main {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3cdbc0;
}

.text {
  color: #ffffff;
  font-size: 1.875rem;
  width: 150px;
}

.footer{
    height: 100px;
    width: 100%;
    position: absolute;
    bottom:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4a4a4a;
    color: #ffffff;
}

/* Media */

@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
  .header1 {
    margin: 20px 20px 20px 30px;
  }
  .nav {
    margin: 0;
  }
  .nav__list {
    margin: 0 10px 0 0;
  }
  .text {
    font-size: 2.5rem;
    width: 300px;
  }
  .footer{
      justify-content: flex-end;   
  }
  .copy{
    margin: 0 30px 0 0;
  }
}
